* {
  text-transform: capitalize;
}

.nav-item a,
.container-fluid a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  padding: 0 13px;
}

.container-fluid {
  margin: 14px 0 0 0;
}

#navbarSupportedContent .navbar-nav {
}
