#theme {
  .form-switch {
    font-size: 30px;
    label {
      .fa-sun {
        color: #f1c40f;
      }
      .fa-moon {
        color: #fff;
      }
    }

    input {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
