#CatigoriseNav {
  background-color: #456;
  .navbar-collapse {
    ul {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      li {
        width: 10%;
        border: 2px solid #fff;
        border-radius: 12px;
        text-align: center;
        padding: 10px;
        margin: auto 14px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
