.card-img-top {
  height: 629px;
}
#movieDetails {
  height: 100%;
}
#movieDetails .container .col-lg-6:nth-child(2) p {
  line-height: 33px;
  margin: 19px 0 0 0;
  font-size: 21px;
}

#movieDetails .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#movieDetails .container .col-lg-6:nth-child(2) p span {
  display: block;
  margin: 22px 0 0 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

#movieDetails .container .col-lg-6:nth-child(2) h5 {
  font-family: cursive;
  font-weight: 800;
  font-size: 31px;
  text-transform: capitalize;
}

#movieDetails .container .col-lg-6:nth-child(1) img {
  border-radius: 12px;
}

#movieDetails .VideoList {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 25px;
}

#movieDetails .VideoList iframe {
  width: 45%;
  margin: 20px;
}
